USE [master]
GO
/****** Object:  Database [SMS]    Script Date: 4/17/2026 2:40:16 PM ******/
CREATE DATABASE [SMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SMS.mdf' , SIZE = 19456KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SMS_log.ldf' , SIZE = 43264KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMS]
GO
/****** Object:  Schema [common]    Script Date: 4/17/2026 2:40:16 PM ******/
CREATE SCHEMA [common]
GO
/****** Object:  Schema [staff]    Script Date: 4/17/2026 2:40:16 PM ******/
CREATE SCHEMA [staff]
GO
/****** Object:  Schema [student]    Script Date: 4/17/2026 2:40:16 PM ******/
CREATE SCHEMA [student]
GO
/****** Object:  Schema [teacher]    Script Date: 4/17/2026 2:40:16 PM ******/
CREATE SCHEMA [teacher]
GO
/****** Object:  Schema [user]    Script Date: 4/17/2026 2:40:16 PM ******/
CREATE SCHEMA [user]
GO
/****** Object:  Table [dbo].[StaffSalaryPaymentInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffSalaryPaymentInfo](
	[StaffPaymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[StaffId] [bigint] NULL,
	[Position] [nvarchar](50) NULL,
	[StaffType] [nvarchar](50) NULL,
	[DateOfJoin] [nvarchar](50) NULL,
	[Year] [nvarchar](50) NULL,
	[Month] [nvarchar](50) NULL,
	[DatePicker] [nvarchar](50) NULL,
	[BasicSalary] [money] NULL,
	[AllowanceTotal] [money] NULL,
	[Grade] [money] NULL,
	[PyableTotal] [money] NULL,
	[GrossTotal] [money] NULL,
	[Advance] [money] NULL,
	[ReturnedAdvance] [money] NULL,
	[ProvidentFund] [money] NULL,
	[Tax] [money] NULL,
	[DeducedTotal] [money] NULL,
	[NetTotal] [money] NULL,
 CONSTRAINT [PK_StaffSalaryPaymentInfo] PRIMARY KEY CLUSTERED 
(
	[StaffPaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [staff].[StaffsInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staff].[StaffsInfo](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[ID] [bigint] NULL,
	[DepartmentId] [int] NULL,
	[StaffCode] [nvarchar](50) NULL,
	[StaffName] [nvarchar](50) NULL,
	[StaffGender] [nvarchar](50) NULL,
	[StaffContact] [nvarchar](50) NULL,
	[StaffMobile] [nvarchar](50) NULL,
	[StaffEmail] [nvarchar](50) NULL,
	[StaffAddress] [nvarchar](50) NULL,
	[StaffPhoto] [nvarchar](50) NULL,
	[ImageData] [image] NULL,
	[StaffNationality] [nvarchar](50) NULL,
	[StaffAge] [nvarchar](50) NULL,
	[Religion] [nvarchar](50) NULL,
	[Caste] [nvarchar](50) NULL,
	[MaritalStatus] [nvarchar](50) NULL,
	[StaffQualification] [nvarchar](50) NULL,
	[StaffPost] [int] NULL,
	[StaffEnrollMentDate] [date] NULL,
	[StaffSalary] [money] NULL,
	[StaffContractTerminationDate] [date] NULL,
	[JobStatus] [int] NULL,
	[PreviousExperience] [nvarchar](50) NULL,
	[NoOfYear] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[PreviousEmployer] [nvarchar](50) NULL,
	[StaffType] [nvarchar](50) NULL,
	[Subject1] [nvarchar](50) NULL,
	[Subject2] [nvarchar](50) NULL,
	[Subject3] [nvarchar](50) NULL,
	[Subject4] [nvarchar](50) NULL,
 CONSTRAINT [PK_StaffsInfo] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[StaffSalaryRpt]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[StaffSalaryRpt]
as
SELECT 
t2.StaffId,
t2.StaffName,
t1.Position,
t1.StaffType,
t1.DateOfJoin,
t1.[Year],
t1.[Month],
t1.DatePicker,
t1.BasicSalary,
t1.AllowanceTotal,
t1.Grade,
t1.PyableTotal,
t1.GrossTotal,
t1.Advance,
t1.ReturnedAdvance,
t1.ProvidentFund,
t1.Tax,
t1.DeducedTotal,
t1.NetTotal FROM dbo.StaffSalaryPaymentInfo t1 
INNER JOIN 
staff.StaffsInfo t2 on t1.StaffId=t2.StaffId

GO
/****** Object:  Table [staff].[Roles]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staff].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](25) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [staff].[RoleView]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [staff].[RoleView]
AS
SELECT     RoleId, '(' + RoleCode + ') ' + RoleName AS Role, Status
FROM         staff.Roles


GO
/****** Object:  Table [student].[SectionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[SectionInfo](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[ClassInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[ClassInfo](
	[ClassId] [bigint] IDENTITY(1,1) NOT NULL,
	[Class] [nvarchar](100) NULL,
 CONSTRAINT [PK__ClassInf__80EF08720B7CAB7B] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[StudentInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[StudentInfo](
	[StudentId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentCode] [nvarchar](50) NULL,
	[AcademicYearId] [bigint] NULL,
	[ClassId] [bigint] NULL,
	[StudentName] [nvarchar](100) NULL,
	[StudentGender] [nvarchar](50) NULL,
	[StudentDoB] [nvarchar](500) NULL,
	[ReligionId] [bigint] NOT NULL,
	[StudentNationality] [nvarchar](500) NULL,
	[PermanentAddress] [nvarchar](500) NULL,
	[TemporaryAddress] [nvarchar](500) NULL,
	[PreviousSchoolName] [nvarchar](500) NULL,
	[PassedClass] [nvarchar](50) NULL,
	[PassedYear] [nvarchar](50) NULL,
	[DivisionId] [bigint] NOT NULL,
	[PictureName] [nvarchar](100) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_StudentInfo] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [student].[GuardiansInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[GuardiansInfo](
	[GuradianInfoId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NOT NULL,
	[FatherName] [nvarchar](50) NULL,
	[FatherOccupation] [nvarchar](500) NULL,
	[MotherName] [nvarchar](50) NULL,
	[MotherOccupation] [nvarchar](50) NULL,
	[HomeNumber] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_GuardiansInfo] PRIMARY KEY CLUSTERED 
(
	[GuradianInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[ReligionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[ReligionInfo](
	[ReligionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReligionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ReligionInfo] PRIMARY KEY CLUSTERED 
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[AcademicYearInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[AcademicYearInfo](
	[AcademicYearId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcademicYear] [nvarchar](50) NULL,
 CONSTRAINT [PK_AcademicYearInfo] PRIMARY KEY CLUSTERED 
(
	[AcademicYearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vStudentsInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vStudentsInfo]
AS
SELECT T1.StudentCode as [Code],T1.StudentName as [Name],T3.AcademicYear AS [Enroll Year],T2.Class,T5.SectionName as [Section], T4.ReligionName as [Religion],T6.FatherName as [Father Name],T6.MobileNumber as [Cell No],T6.HomeNumber as [Home Number] FROM  student.StudentInfo T1 INNER JOIN student.ClassInfo T2 on T1.ClassId=T2.ClassId INNER JOIN student.AcademicYearInfo T3 ON T1.EnrollAcademicYearId=T3.AcademicYearId INNER JOIN common.ReligionInfo T4 ON T1.ReligionId=T4.ReligionId INNER JOIN student.SectionInfo T5 ON T2.SectionId=T5.SectionId INNER JOIN student.GuardiansInfo T6 ON T1.StudentId=T6.StudentId WHERE t2.ClassId=1 
GO
/****** Object:  Table [dbo].[FeeDetailsInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeDetailsInfo](
	[FeeDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcademicYearId] [bigint] NULL,
	[ClassId] [bigint] NULL,
	[FeeId] [bigint] NULL,
	[FeeStatus] [nvarchar](50) NULL,
	[FeeAmount] [money] NULL,
 CONSTRAINT [PK_FeeDetailsInfo] PRIMARY KEY CLUSTERED 
(
	[FeeDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeTransferInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeTransferInfo](
	[FeeTransferId] [bigint] IDENTITY(1,1) NOT NULL,
	[FeeStatus] [int] NULL,
	[FeeName] [bigint] NULL,
	[FeeAmount] [money] NULL,
	[StudentId] [bigint] NULL,
	[Year] [bigint] NULL,
	[Month] [bigint] NULL,
 CONSTRAINT [PK_FeeTransferInfo] PRIMARY KEY CLUSTERED 
(
	[FeeTransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeInfo](
	[FeeId] [int] IDENTITY(1,1) NOT NULL,
	[AcademicYearId] [bigint] NULL,
	[ClassId] [bigint] NULL,
	[FeeStatusId] [int] NULL,
	[FeeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_FeeInfo] PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vFeeTransfer]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [dbo].[vFeeTransfer]
as
SELECT t3.FeeTransferId as [Transfer No],T2.FeeName AS [Fee],T1.FeeAmount as [Amount] FROM dbo.FeeDetailsInfo T1 INNER JOIN dbo.FeeInfo T2 ON T1.FeeId=T2.FeeId INNER JOIN dbo.FeeTransferInfo T3 ON T2.FeeStatusId=T3.FeeStatus WHERE T3.FeeStatus=1 AND T1.ClassId=5 AND T1.AcademicYearId=6 AND T3.[Month]=1 AND T3.StudentId=20
GO
/****** Object:  Table [dbo].[EmployeeAdvance]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAdvance](
	[AdavanceStaffId] [bigint] IDENTITY(1,1) NOT NULL,
	[StaffId] [bigint] NULL,
	[AdvanceId] [bigint] NULL,
	[Date] [nvarchar](50) NULL,
	[AdvanceAmount] [money] NULL,
 CONSTRAINT [PK_EmployeeAdvance] PRIMARY KEY CLUSTERED 
(
	[AdavanceStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdvanceInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvanceInfo](
	[AdvanceId] [int] IDENTITY(1,1) NOT NULL,
	[AdvanceName] [nvarchar](50) NULL,
 CONSTRAINT [PK_AdvanceInfo] PRIMARY KEY CLUSTERED 
(
	[AdvanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vStaffAdvance]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vStaffAdvance] AS
select T3.[StaffName],T2.[AdvanceName], AdvanceAmount, Date from dbo.EmployeeAdvance T1 INNER JOIN dbo.AdvanceInfo T2 on T1.AdvanceId=T2.AdvanceId INNER JOIN staff.StaffsInfo T3 on T1.StaffId=T3.StaffId where T1.AdavanceStaffId=AdavanceStaffId;
 



GO
/****** Object:  Table [dbo].[FeeGenerationInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeGenerationInfo](
	[BillGenerationId] [bigint] IDENTITY(1,1) NOT NULL,
	[DateOfGeneration] [nvarchar](50) NULL,
	[StudentId] [bigint] NULL,
	[AcademicYearId] [bigint] NULL,
	[ClassId] [bigint] NULL,
	[NormalFee] [bigint] NULL,
	[ExtraFee] [bigint] NULL,
	[TotalFee] [bigint] NULL,
 CONSTRAINT [PK_FeeGenerationInfo] PRIMARY KEY CLUSTERED 
(
	[BillGenerationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vFeeGenerationInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vFeeGenerationInfo]
AS
SELECT

T1.BillGenerationId,
T2.StudentId,
T2.StudentName,
T3.AcademicYear,
T4.Class,
NormalFee,
ExtraFee,
TotalFee,
DateOfGeneration
FROM dbo.FeeGenerationInfo T1 INNER JOIN student.StudentInfo T2 on T1.StudentId=T2.StudentId INNER JOIN student.AcademicYearInfo T3 on T1.AcademicYearId=T3.AcademicYearId INNER JOIN student.ClassInfo T4 on T1.ClassId=T4.ClassId WHERE T1.BillGenerationId=T1.BillGenerationId


GO
/****** Object:  View [dbo].[vStudentRegistration]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vStudentRegistration]
as
SELECT T1.StudentName,T2.AcademicYear,T1.StudentGender,T3.Class,T4.HomeNumber FROM student.StudentInfo T1 INNER JOIN student.AcademicYearInfo T2 ON T1.AcademicYearId=T2.AcademicYearId INNER JOIN student.ClassInfo T3 ON T1.ClassId=T3.ClassId INNER JOIN student.GuardiansInfo T4 ON T1.StudentId=T4.StudentId  WHERE StudentCode='18760'

GO
/****** Object:  View [dbo].[vFeeDetail]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vFeeDetail] AS
SELECT T1.FeeStatus,T2.FeeName,T1.FeeAmount FROM dbo.FeeDetailsInfo T1 INNER JOIN dbo.FeeInfo T2 ON T1.FeeId=T2.FeeId WHERE T1.ClassId=2 AND T1.AcademicYearId=1 

GO
/****** Object:  Table [dbo].[SubjectsInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectsInfo](
	[SubjectId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcademicYearId] [bigint] NULL,
	[ClassId] [bigint] NULL,
	[SubjectName] [nvarchar](50) NULL,
	[FullMarks] [nvarchar](50) NULL,
	[PassMarks] [nvarchar](50) NULL,
	[TheoryFM] [nvarchar](50) NULL,
	[TheoryPM] [nvarchar](50) NULL,
	[PracticalFM] [nvarchar](50) NULL,
	[PracticalPM] [nvarchar](50) NULL,
 CONSTRAINT [PK_SubjectsInfo] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vClassSubjects]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vClassSubjects] AS
SELECT SubjectId,SubjectName FROM dbo.SubjectsInfo WHERE ClassId=2 AND AcademicYearId=1
GO
/****** Object:  View [dbo].[FeePaymentInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE VIEW [dbo].[FeePaymentInfo]
  
  AS
  SELECT Fee,FeeAmount as Amount,TotalAmount as [Total Amount] FROM dbo.FeeGenerationInfo WHERE Batch='2012' AND Class='1' AND StudentName='Indra'
GO
/****** Object:  Table [student].[ExaminationInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[ExaminationInfo](
	[ExamId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcademicYearId] [bigint] NULL,
	[ExamType] [nvarchar](50) NULL,
	[ExamDate] [nvarchar](50) NULL,
	[ExamDuration] [nvarchar](50) NULL,
	[MonthId] [int] NULL,
 CONSTRAINT [PK_ExaminationInfo] PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[MonthsInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[MonthsInfo](
	[MonthId] [int] IDENTITY(1,1) NOT NULL,
	[MonthName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [student].[ResultInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[ResultInfo](
	[ResultId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcademicYearId] [bigint] NOT NULL,
	[ExamId] [bigint] NULL,
	[ExamDate] [nvarchar](50) NULL,
	[ClassId] [bigint] NOT NULL,
	[Section] [nvarchar](50) NULL,
	[StudentId] [bigint] NOT NULL,
	[SubjectId] [bigint] NULL,
	[FullMarks] [int] NULL,
	[PassMarks] [int] NULL,
	[TheoryFM] [int] NULL,
	[TheoryPM] [int] NULL,
	[ObtainedTheoryMarks] [int] NULL,
	[PracticalFM] [int] NULL,
	[PracticalPM] [int] NULL,
	[ObtainedPracticalMarks] [int] NULL,
	[ObtainedMarks] [int] NULL,
	[Result] [nvarchar](50) NULL,
 CONSTRAINT [PK_ResultInfo] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Result]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[Result]
as
SELECT T7.StudentId, T7.StudentName,T2.AcademicYear,T4.Class,T1.Section,T3.ExamType,
T3.ExamDate,T3.ExamDuration,T5.SubjectName,T6.[MonthName] FROM student.ResultInfo T1
INNER JOIN
student.AcademicYearInfo T2
ON T1.AcademicYearId=T2.AcademicYearId
INNER JOIN
student.ExaminationInfo T3 
ON T2.AcademicYearId=T3.AcademicYearId
INNER JOIN
student.ClassInfo T4 
ON T1.ClassId=T4.ClassId
INNER JOIN
dbo.SubjectsInfo T5
ON T1.SubjectId=T5.SubjectId
INNER JOIN
student.MonthsInfo T6
ON T3.MonthId=T6.MonthId
INNER JOIN student.StudentInfo T7
ON T1.AcademicYearId=T7.AcademicYearId
WHERE T2.AcademicYear='2001' AND T4.Class='ONE'

--SELECT T1.StudentName,T2.Class,T3.SectionName,T5.ExamType,T4.AcademicYear,T6.[MonthName] FROM student.StudentInfo T1 INNER JOIN student.ClassInfo T2 ON T1.ClassId=T2.ClassId INNER JOIN student.SectionInfo T3 ON T2.SectionId=T3.SectionId INNER JOIN student.AcademicYearInfo T4 ON T1.AcademicYearId=T4.AcademicYearId INNER JOIN student.ExaminationInfo T5 ON T4.AcademicYearId=T5.AcademicYearId INNER JOIN student.MonthsInfo T6 ON T5.MonthId=T6.MonthId





GO
/****** Object:  View [dbo].[AcademicYearwiseSubjects]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AcademicYearwiseSubjects] AS
SELECT T3.AcademicYearId,T3.AcademicYear,T1.ClassId, T1.SubjectId,T1.SubjectName FROM dbo.SubjectsInfo T1 INNER JOIN student.StudentInfo T2 ON T1.ClassId=T2.ClassId INNER JOIN student.AcademicYearInfo T3 ON T2.AcademicYearId=T3.AcademicYearId WHERE T1.ClassId=9 AND T3.AcademicYearId=2
GO
/****** Object:  View [dbo].[vResultCalc]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















CREATE VIEW [dbo].[vResultCalc]
AS
/**
T5.AcademicYear,
T7.[MonthName],
T4.Class,
t1.[StudentId],
t1.StudentName,
t3.SubjectName,
t2.FullMarks,
t2.PassMarks,
t2.TheoryFM,
t2.TheoryPM,
t2.ObtainedTheoryMarks,
t2.PracticalFM,
t2.PracticalPM,
t2.ObtainedPracticalMarks,
t2.TotalObtainedMarks,
t2.Result
from student.StudentInfo t1 
inner  join 
student.ResultsCalc t2 on t1.StudentId=t2.StudentId 
inner join dbo.SubjectsInfo t3 on t2.SubjectId=t3.SubjectId 
inner JOIN student.ClassInfo T4 ON T2.ClassId=T4.ClassId
INNER JOIN student.AcademicYearInfo T5 ON T2.AcademicYearId=T5.AcademicYearId
INNER JOIN student.ExaminationInfo T6 ON T5.AcademicYearId=T6.AcademicYearId
INNER JOIN student.MonthsInfo T7 ON T6.MonthId=T7.MonthId
**/
SELECT
t1.AcademicYearId,
T4.AcademicYear,
t1.ClassId,
T5.Class,
t2.ExamId,
T6.ExamType,
T1.StudentId,
t1.StudentName,
T3.SubjectName,
t2.FullMarks,
t2.PassMarks,
t2.TheoryFM,
t2.TheoryPM,
t2.ObtainedTheoryMarks,
t2.PracticalFM,
t2.PracticalPM,
t2.ObtainedPracticalMarks,
t2.ObtainedMarks,
T2.Result
 
 FROM student.ResultInfo T2 INNER JOIN student.StudentInfo T1 ON T1.StudentId=T2.StudentId INNER JOIN dbo.SubjectsInfo T3 ON T2.SubjectId=T3.SubjectId INNER JOIN student.AcademicYearInfo T4 ON T1.AcademicYearId=T4.AcademicYearId INNER JOIN student.ClassInfo T5 ON T1.ClassId=T5.ClassId INNER JOIN student.ExaminationInfo T6 ON T2.ExamId=T6.ExamId

GO
/****** Object:  Table [staff].[DepartmentInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staff].[DepartmentInfo](
	[DepartmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[DepartmentDescription] [nvarchar](500) NULL,
 CONSTRAINT [PK_DepartmentInfo] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [staff].[DepartmentView]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [staff].[DepartmentView]
AS
SELECT     DepartmentId, '(' + DepartmentCode+ ') ' +DepartmentName AS [Department]
FROM         staff.DepartmentInfo


GO
/****** Object:  Table [common].[PictureInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[PictureInfo](
	[PictureId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[PictureName] [nvarchar](50) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_PictureInfo] PRIMARY KEY CLUSTERED 
(
	[PictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [common].[StatusInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[StatusInfo](
	[StatusId] [bigint] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatusInfo] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AllowanceDetailInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllowanceDetailInfo](
	[AllowanceDetailId] [int] IDENTITY(1,1) NOT NULL,
	[AllowanceId] [int] NULL,
	[PositionId] [int] NULL,
	[AllowanceAmount] [money] NULL,
 CONSTRAINT [PK_AllowanceDetailInfo] PRIMARY KEY CLUSTERED 
(
	[AllowanceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AllowanceInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllowanceInfo](
	[AllowanceId] [int] IDENTITY(1,1) NOT NULL,
	[AllowanceName] [nvarchar](50) NULL,
 CONSTRAINT [PK_AllowanceInfo] PRIMARY KEY CLUSTERED 
(
	[AllowanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendenceInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendenceInfo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Staus] [nvarchar](50) NULL,
 CONSTRAINT [PK_AttendenceInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyInfo](
	[CompanyId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyRegno] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[CompanyAddress] [nvarchar](50) NULL,
	[CompanyPhone1] [nvarchar](50) NULL,
	[CopanyPhone2] [nvarchar](50) NULL,
	[CompanyEmail] [nvarchar](50) NULL,
	[CompanyURL] [nvarchar](50) NULL,
	[PictureName] [nvarchar](50) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyExpenses]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyExpenses](
	[ExpenseId] [bigint] IDENTITY(1,1) NOT NULL,
	[Sno] [bigint] NULL,
	[Date] [nvarchar](50) NULL,
	[Particular] [nvarchar](50) NULL,
	[Amount] [money] NULL,
	[Narration] [text] NULL,
 CONSTRAINT [PK_DailyExpenses] PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyIncome]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyIncome](
	[IncomeId] [bigint] IDENTITY(1,1) NOT NULL,
	[Sno] [bigint] NULL,
	[Date] [nvarchar](50) NULL,
	[Particular] [nvarchar](50) NULL,
	[Amount] [money] NULL,
	[Narration] [text] NULL,
 CONSTRAINT [PK_DailyIncome] PRIMARY KEY CLUSTERED 
(
	[IncomeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaysInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysInfo](
	[DayId] [int] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](50) NULL,
 CONSTRAINT [PK_DaysInfo] PRIMARY KEY CLUSTERED 
(
	[DayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAttendenceInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAttendenceInfo](
	[EmpId] [bigint] IDENTITY(1,1) NOT NULL,
	[PositionId] [bigint] NULL,
	[StaffId] [bigint] NULL,
	[StatusId] [bigint] NULL,
	[Description] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
 CONSTRAINT [PK_EmployeeAttendenceInfo] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtraFeeInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtraFeeInfo](
	[ExtraFeeId] [int] NOT NULL,
	[YearFeeId] [int] NULL,
	[MontlyFeeId] [int] NULL,
	[FeeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExtraFeeInfo] PRIMARY KEY CLUSTERED 
(
	[ExtraFeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeStatusInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeStatusInfo](
	[FeeStatusId] [int] IDENTITY(1,1) NOT NULL,
	[FeeStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_FeeStatusInfo] PRIMARY KEY CLUSTERED 
(
	[FeeStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelInfo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HotelName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[ContactNo1] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[TIN] [nvarchar](50) NULL,
	[STNo] [nvarchar](50) NULL,
	[Logo] [image] NULL,
 CONSTRAINT [PK_HotelInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageInfo](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](50) NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_ImageInfo] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobStatusInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobStatusInfo](
	[JobStatusId] [int] IDENTITY(1,1) NOT NULL,
	[JobStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_JobStatusInfo] PRIMARY KEY CLUSTERED 
(
	[JobStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelInfo](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LevelInfo] PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthsInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthsInfo](
	[MonthId] [int] IDENTITY(1,1) NOT NULL,
	[MonthName] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonthsInfo] PRIMARY KEY CLUSTERED 
(
	[MonthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationInfo](
	[OrgId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrgReg] [nvarchar](50) NULL,
	[OrgName] [nvarchar](100) NULL,
	[OrgLocation] [nvarchar](50) NULL,
	[OrgPhone] [nvarchar](50) NULL,
	[OrgEmail] [nvarchar](50) NULL,
	[OrgUrl] [nvarchar](50) NULL,
	[OrgLogo] [image] NULL,
 CONSTRAINT [PK_OrganizationInfo] PRIMARY KEY CLUSTERED 
(
	[OrgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentHistoryInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHistoryInfo](
	[PaymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[DateOfPayment] [nvarchar](50) NULL,
	[ReceiptNo] [nvarchar](100) NULL,
	[FeeOfYear] [bigint] NULL,
	[FeeOfMonth] [bigint] NULL,
	[ClassId] [bigint] NULL,
	[GrossTotal1] [money] NULL,
	[Discount] [money] NULL,
	[GrossTotal2] [money] NULL,
	[RecievedAmount] [money] NULL,
	[BalanceAmount] [money] NULL,
 CONSTRAINT [PK_PaymentHistoryInfo] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PositionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionInfo](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_PostionInfo] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReligionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReligionInfo](
	[ReligionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReligionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ReligionInfo_1] PRIMARY KEY CLUSTERED 
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAllowanceDetails]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAllowanceDetails](
	[AllowanceDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[AllowanceId] [int] NULL,
	[StaffId] [nchar](10) NULL,
 CONSTRAINT [PK_StaffAllowanceDetails] PRIMARY KEY CLUSTERED 
(
	[AllowanceDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffDetailInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffDetailInfo](
	[StaffDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NULL,
	[LevelId] [int] NULL,
	[PositionId] [int] NULL,
	[BasicSalary] [money] NULL,
	[StaffType] [nvarchar](50) NULL,
	[DateOfJoin] [nvarchar](50) NULL,
	[DateOfPermanency] [nvarchar](50) NULL,
	[DateOfPromotion] [nvarchar](50) NULL,
 CONSTRAINT [PK_StaffDetailInfo] PRIMARY KEY CLUSTERED 
(
	[StaffDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentFeePayments]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFeePayments](
	[PaymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[PaidDate] [nvarchar](50) NULL,
	[AcademicYearId] [bigint] NULL,
	[ClassId] [bigint] NULL,
	[SectionId] [bigint] NULL,
	[StudentId] [bigint] NULL,
	[RollNO] [nvarchar](500) NULL,
	[TotalFee] [money] NULL,
	[PaidAmount] [money] NULL,
	[DueAmount] [money] NULL,
	[Narration] [nvarchar](500) NULL,
 CONSTRAINT [PK_StudentFeePayments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [staff].[StaffsInfoDetail]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staff].[StaffsInfoDetail](
	[StaffInfoDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[DepartmentId] [bigint] NOT NULL,
	[StaffSalary] [money] NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_StaffsInfoDetail] PRIMARY KEY CLUSTERED 
(
	[StaffInfoDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[DivisionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[DivisionInfo](
	[DivisionId] [bigint] IDENTITY(1,1) NOT NULL,
	[Division] [nvarchar](50) NULL,
 CONSTRAINT [PK_DivisionInfo] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[FeePaymentInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[FeePaymentInfo](
	[FeePaymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[FeeId] [bigint] NOT NULL,
	[StudentId] [bigint] NOT NULL,
	[FeeYear] [nvarchar](50) NULL,
	[FeeMonth] [nvarchar](50) NULL,
	[FeeDay] [nvarchar](50) NULL,
	[PaidAmount] [money] NULL,
	[DueAmount] [money] NULL,
 CONSTRAINT [PK_FeePaymentInfo] PRIMARY KEY CLUSTERED 
(
	[FeePaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[FeeStructureInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[FeeStructureInfo](
	[FeeId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcademicYear] [int] NULL,
	[ClassId] [bigint] NOT NULL,
	[FormFee] [money] NULL,
	[AdmissionFee] [money] NULL,
	[TutionFee] [money] NULL,
	[LibraryFee] [money] NULL,
	[ComputerFee] [money] NULL,
	[SportsFee] [money] NULL,
	[HostelFee] [money] NULL,
	[LabFee] [money] NULL,
	[TransportationFee] [money] NULL,
	[CanteenFee] [money] NULL,
	[ExtraTutionFee] [money] NULL,
	[OtherFee] [money] NULL,
	[TotalFee] [money] NULL,
 CONSTRAINT [PK_FeeStructureInfo] PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[MarksheetInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[MarksheetInfo](
	[MarkSheetId] [bigint] IDENTITY(1,1) NOT NULL,
	[AcademicYearId] [bigint] NOT NULL,
	[ExamDate] [nvarchar](50) NULL,
	[ClassId] [bigint] NOT NULL,
	[ExamId] [bigint] NOT NULL,
	[StudentId] [bigint] NOT NULL,
	[TotalMarks] [bigint] NULL,
	[Percentage] [float] NULL,
	[Result] [nvarchar](50) NULL,
	[Division] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_MarksheetInfo] PRIMARY KEY CLUSTERED 
(
	[MarkSheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[StudentAttendeceInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[StudentAttendeceInfo](
	[AttendeceId] [bigint] NOT NULL,
	[StudentId] [bigint] NOT NULL,
	[ClassId] [bigint] NOT NULL,
	[StatusId] [bigint] NOT NULL,
 CONSTRAINT [PK_StudentAttendeceInfo] PRIMARY KEY CLUSTERED 
(
	[AttendeceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [student].[StudentClassSubjectInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [student].[StudentClassSubjectInfo](
	[StudentClassSubjectId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[Marks] [decimal](18, 0) NULL,
 CONSTRAINT [PK_StudentClassSubjectInfo] PRIMARY KEY CLUSTERED 
(
	[StudentClassSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [teacher].[TeachersInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [teacher].[TeachersInfo](
	[TeacherId] [bigint] IDENTITY(1,1) NOT NULL,
	[TeacherCode] [nvarchar](50) NULL,
	[TeacherName] [nvarchar](50) NULL,
	[TeacherContact] [nvarchar](50) NULL,
	[TeacherAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_TeachersInfo] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [teacher].[TeachersInfoChanges]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [teacher].[TeachersInfoChanges](
	[EmployeeName] [nvarchar](50) NOT NULL,
	[Action] [nvarchar](50) NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_TeachersInfoChanges] PRIMARY KEY CLUSTERED 
(
	[EmployeeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [user].[UsersInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[UsersInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[RetypePassword] [nvarchar](100) NULL,
 CONSTRAINT [PK_UsersInfo] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DaysInfo]  WITH CHECK ADD  CONSTRAINT [FK_DaysInfo_DaysInfo] FOREIGN KEY([DayId])
REFERENCES [dbo].[DaysInfo] ([DayId])
GO
ALTER TABLE [dbo].[DaysInfo] CHECK CONSTRAINT [FK_DaysInfo_DaysInfo]
GO
ALTER TABLE [dbo].[FeeInfo]  WITH CHECK ADD  CONSTRAINT [FK_FeeInfo_FeeStatusInfo] FOREIGN KEY([FeeStatusId])
REFERENCES [dbo].[FeeStatusInfo] ([FeeStatusId])
GO
ALTER TABLE [dbo].[FeeInfo] CHECK CONSTRAINT [FK_FeeInfo_FeeStatusInfo]
GO
ALTER TABLE [dbo].[SubjectsInfo]  WITH CHECK ADD  CONSTRAINT [FK_SubjectsInfo_SubjectsInfo] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[SubjectsInfo] ([SubjectId])
GO
ALTER TABLE [dbo].[SubjectsInfo] CHECK CONSTRAINT [FK_SubjectsInfo_SubjectsInfo]
GO
ALTER TABLE [staff].[StaffsInfo]  WITH CHECK ADD  CONSTRAINT [FK_StaffsInfo_HotelInfo] FOREIGN KEY([ID])
REFERENCES [dbo].[HotelInfo] ([ID])
GO
ALTER TABLE [staff].[StaffsInfo] CHECK CONSTRAINT [FK_StaffsInfo_HotelInfo]
GO
ALTER TABLE [user].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [FK_UsersInfo_UsersInfo] FOREIGN KEY([RoleId])
REFERENCES [staff].[Roles] ([RoleId])
GO
ALTER TABLE [user].[UsersInfo] CHECK CONSTRAINT [FK_UsersInfo_UsersInfo]
GO
/****** Object:  StoredProcedure [common].[spPictureInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [common].[spPictureInfo]
(@PictureName nvarchar(50))
as
begin
insert into common.PictureInfo(PictureName) select @PictureName;
end
GO
/****** Object:  StoredProcedure [common].[spReligionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [common].[spReligionInfo]
as
begin
select * from ReligionInfo
end
GO
/****** Object:  StoredProcedure [common].[spUpadtePictureInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [common].[spUpadtePictureInfo]
(@StudentId int,
@PictureName nvarchar(100))
as
begin
update common.PictureInfo set PictureName=@PictureName where StudentId=@StudentId
end
GO
/****** Object:  StoredProcedure [dbo].[imageinsert]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[imageinsert]
@pictureid int,
@picturename varchar(50),
@picture Image
As
Begin
insert PictureInfo(Pictureid,picturename,picture)
Values (@pictureid,@picturename,@picture)
end
GO
/****** Object:  StoredProcedure [dbo].[spDay]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spDay]
as
begin
select * from dbo.DaysInfo
end
GO
/****** Object:  StoredProcedure [dbo].[spDisplayTeachers]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spDisplayTeachers]
(@TeacherCode NVARCHAR(50))
AS
BEGIN 
SELECT * FROM TeachersInfo where TeacherCode=@TeacherCode 
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertTeachersInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertTeachersInfo]
(@TeacherCode NVARCHAR(50),@TeacherName NVARCHAR(50),@TeacherContact NVARCHAR(50),@TeacherAddress NVARCHAR(50))
AS
BEGIN
INSERT TeachersInfo(TeacherCode,TeacherName,TeacherContact,TeacherAddress) VALUES(@TeacherCode,@TeacherName,@TeacherContact,@TeacherAddress)
END
GO
/****** Object:  StoredProcedure [dbo].[spReligionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[spReligionInfo]
as
begin
select * from ReligionInfo
end

GO
/****** Object:  StoredProcedure [dbo].[ViewMarkSheet]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ViewMarkSheet]
(@ID INT)
AS
BEGIN
SELECT distinct  * FROM student.ResultInfo T1 INNER JOIN student.MarksheetInfo T2 ON T1.StudentId=T2.StudentId
END
GO
/****** Object:  StoredProcedure [staff].[spAddDepartment]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spAddDepartment]
(
@DepartmentCode NVARCHAR(MAX),
@DepartmentName NVARCHAR(50),
@DepartmentDescription NVARCHAR(500)
)
AS
BEGIN
INSERT INTO [staff].[DepartmentInfo] (DepartmentCode,DepartmentName,DepartmentDescription)
SELECT 
@DepartmentCode,
@DepartmentName,
@DepartmentDescription
END

--[staff].[spAddDepartment] 'abc','Elx','adfdsofsdfopdsofsdop'
GO
/****** Object:  StoredProcedure [staff].[spDeleteDepartmentById]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spDeleteDepartmentById]
(@DepartmentId int
)
AS
BEGIN TRANSACTION
BEGIN
DELETE FROM staff.DepartmentInfo WHERE DepartmentId=@DepartmentId
END
COMMIT
GO
/****** Object:  StoredProcedure [staff].[spDeleteStaffRegistrationByCode]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spDeleteStaffRegistrationByCode]
(
@StaffCode NVARCHAR(100)
)
AS
BEGIN
DELETE FROM staff.StaffsInfo WHERE StaffCode=@StaffCode
END
GO
/****** Object:  StoredProcedure [staff].[spDepartmentDisplay]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spDepartmentDisplay]
as
begin
select * from [staff].[DepartmentView]
end
GO
/****** Object:  StoredProcedure [staff].[spDisplayDepartmentById]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spDisplayDepartmentById]
(
@DepartmentId int
)
as
begin
select * from [staff].[DepartmentInfo] where DepartmentId=@DepartmentId
--select COUNT(DepartmentId) as [Staffs] from staff.StaffsInfoDetail where DepartmentId=@DepartmentId
end
--[staff].[spDisplayDepartmentById] 1
GO
/****** Object:  StoredProcedure [staff].[spDisplayStaffByCode]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [staff].[spDisplayStaffByCode]
(@StaffCode nvarchar(50))
as
begin
select * from staff.StaffsInfo T1 INNER JOIN staff.DepartmentView T2 ON T1.DepartmentId=T2.DepartmentId where T1.StaffCode=@StaffCode
end
--[staff].[spDisplayStaffByCode] EFAuXgCy
GO
/****** Object:  StoredProcedure [staff].[spGetTotalStaffById]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spGetTotalStaffById]
(
@DepartmentId int
)
as
begin
select COUNT(DepartmentId)as [TotalStaffs] from staff.StaffsInfoDetail where DepartmentId=@DepartmentId
end
--staff.spGetTotalStaffById 1
GO
/****** Object:  StoredProcedure [staff].[spRoles]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spRoles]
as
begin
select * from staff.Roles
end
GO
/****** Object:  StoredProcedure [staff].[spRoleView]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spRoleView]
AS
SELECT * FROM staff.RoleView
GO
/****** Object:  StoredProcedure [staff].[spStaffsInfoDisplay]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [staff].[spStaffsInfoDisplay]
as
begin
select  * from staff.StaffsInfo T1 INNER JOIN staff.DepartmentView T2 ON T1.DepartmentId=T2.DepartmentId
end
GO
/****** Object:  StoredProcedure [staff].[spUpdateDepartment]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spUpdateDepartment]
(
@DepartmentId bigint,
@DepartmentCode nvarchar(100),
@DepartmentName NVARCHAR(50),
@DepartmentDescription NVARCHAR(500)
)
AS
BEGIN TRANSACTION
BEGIN
UPDATE staff.DepartmentInfo SET DepartmentCode=@DepartmentCode, DepartmentName=@DepartmentName,DepartmentDescription=@DepartmentDescription WHERE DepartmentId=@DepartmentId
END
COMMIT
GO
/****** Object:  StoredProcedure [staff].[spUpdateStaffRegistration]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [staff].[spUpdateStaffRegistration]
(   
    @DepartmentId int,
	@StaffCode nvarchar(50),
	@StaffName nvarchar(50),
	@StaffGender nvarchar(50),
	@StaffContact nvarchar(50),
	@StaffMobile nvarchar(50),
	@StaffEmail nvarchar(50),
	@StaffAddress nvarchar(50),
	@StaffPhoto nvarchar(50),
	@ImageData image,
	@StaffNationality nvarchar(50),
	@StaffAge nvarchar(50) ,
	@Religion nvarchar(50),
	@Caste nvarchar(50) ,
	@MaritalStatus nvarchar(50),
	@StaffQualification nvarchar(50) ,
	@StaffPost nvarchar(50) ,
	@StaffEnrollMentDate date,
	@StaffSalary money ,
	@StaffContractTerminationDate date ,
	@JobStatus nvarchar(50) ,
	@PreviousExperience bit,
	@NoOfYear nvarchar(50),
	@Remarks nvarchar(50) ,
	@PreviousEmployer nvarchar(50),
	@StaffType nvarchar(50) ,
	@Subject1 nvarchar(50) ,
	@Subject2 nvarchar(50) ,
	@Subject3 nvarchar(50) ,
	@Subject4 nvarchar(50)
)
AS
BEGIN
UPDATE staff.StaffsInfo
SET 
    DepartmentId=@DepartmentId,
	--StaffCode=@StaffCode,
	StaffName=@StaffName,
	StaffGender=@StaffGender ,
	StaffContact=@StaffContact ,
	StaffMobile=@StaffMobile ,
	StaffEmail=@StaffEmail ,
	StaffAddress=@StaffAddress ,
	StaffPhoto=@StaffPhoto ,
	ImageData=@ImageData,
	StaffNationality=@StaffNationality,
	StaffAge=@StaffAge ,
	Religion=@Religion ,
	Caste=@Caste  ,
	MaritalStatus=@MaritalStatus ,
	StaffQualification=@StaffQualification  ,
	StaffPost=@StaffPost  ,
	StaffEnrollMentDate=@StaffEnrollMentDate,
	StaffSalary=@StaffSalary  ,
	StaffContractTerminationDate=@StaffContractTerminationDate ,
	JobStatus=@JobStatus  ,
	PreviousExperience=@PreviousExperience ,
	NoOfYear=@NoOfYear ,
	Remarks=@Remarks  ,
	PreviousEmployer=@PreviousEmployer,
	StaffType=@StaffType  ,
	Subject1=@Subject1  ,
	Subject2=@Subject2  ,
	Subject3=@Subject3 ,
	Subject4=@Subject4
	WHERE StaffCode=@StaffCode
END
GO
/****** Object:  StoredProcedure [staff].[StaffRegistration]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [staff].[StaffRegistration]
(
	@DepartmentId int,
	@StaffCode nvarchar(50),
	@StaffName nvarchar(50),
	@StaffGender nvarchar(50),
	@StaffContact nvarchar(50),
	@StaffMobile nvarchar(50),
	@StaffEmail nvarchar(50),
	@StaffAddress nvarchar(50),
	@StaffPhoto nvarchar(50),
	@ImageData image,
	@StaffNationality nvarchar(50),
	@StaffAge nvarchar(50) ,
	@Religion nvarchar(50),
	@Caste nvarchar(50) ,
	@MaritalStatus nvarchar(50),
	@StaffQualification nvarchar(50) ,
	@StaffPost nvarchar(50) ,
	@StaffEnrollMentDate date,
	@StaffSalary money ,
	@StaffContractTerminationDate date ,
	@JobStatus nvarchar(50) ,
	@PreviousExperience bit,
	@NoOfYear nvarchar(50),
	@Remarks nvarchar(50) ,
	@PreviousEmployer nvarchar(50),
	@StaffType nvarchar(50) ,
	@Subject1 nvarchar(50) ,
	@Subject2 nvarchar(50) ,
	@Subject3 nvarchar(50) ,
	@Subject4 nvarchar(50)
)
AS
BEGIN
INSERT INTO staff.StaffsInfo
(   DepartmentId,
	StaffCode,
	StaffName,
	StaffGender ,
	StaffContact ,
	StaffMobile ,
	StaffEmail ,
	StaffAddress ,
	StaffPhoto ,
	ImageData,
	StaffNationality,
	StaffAge ,
	Religion ,
	Caste  ,
	MaritalStatus ,
	StaffQualification  ,
	StaffPost  ,
	StaffEnrollMentDate,
	StaffSalary  ,
	StaffContractTerminationDate ,
	JobStatus  ,
	PreviousExperience ,
	NoOfYear ,
	Remarks  ,
	PreviousEmployer,
	StaffType  ,
	Subject1  ,
	Subject2  ,
	Subject3 ,
	Subject4)

VALUES(
    @DepartmentId ,
	@StaffCode ,
	@StaffName ,
	@StaffGender,
	@StaffContact ,
	@StaffMobile,
	@StaffEmail ,
	@StaffAddress ,
	@StaffPhoto ,
	@ImageData,
	@StaffNationality ,
	@StaffAge  ,
	@Religion ,
	@Caste ,
	@MaritalStatus ,
	@StaffQualification  ,
	@StaffPost  ,
	@StaffEnrollMentDate,
	@StaffSalary  ,
	@StaffContractTerminationDate  ,
	@JobStatus ,
	@PreviousExperience ,
	@NoOfYear,
	@Remarks  ,
	@PreviousEmployer,
	@StaffType  ,
	@Subject1 ,
	@Subject2  ,
	@Subject3  ,
	@Subject4  )
END


--select * from staff.StaffsInfo
 --  [staff].[StaffRegistration] 1,'67','g','Male','9851196686','099','g@mail.com','kathmandu','Photo','Nepali','45','Hindu','Brahaman','married','MBS','Acc','2045-5-5','98889','2046-8-9',1,0,'2','good','ram','teaching','math','comp','sc','social'
 
GO
/****** Object:  StoredProcedure [student].[DisplyFeeByFeeId]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[DisplyFeeByFeeId]
(@FeeId int)
as
begin
select * from student.FeeStructureInfo where FeeId=@FeeId
end
--student.DisplyFeeByFeeId '3'
GO
/****** Object:  StoredProcedure [student].[FeeStructureByFeeId]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [student].[FeeStructureByFeeId]
(@FeeId int)
as
begin
select * from student.FeeStructureInfo where FeeId=@FeeId
end
GO
/****** Object:  StoredProcedure [student].[spAddPayment]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
  CREATE PROC [student].[spAddPayment]
  (
  @FeeId int,
  @StudentId int,
  @FeeYear nvarchar(100),
  @FeeMonth nvarchar(100),
  @FeeDay nvarchar(100),
  @PaidAmount nvarchar(100),
  @DueAmount  nvarchar(100)
  )
  AS
  BEGIN
  INSERT INTO student.FeePaymentInfo(FeeId,StudentId,FeeYear,FeeMonth,FeeDay,PaidAmount,DueAmount)
  SELECT @FeeId,@StudentId,@FeeYear,@FeeMonth,@FeeDay,@PaidAmount,@DueAmount
  END
  --  select SUM(student.FeePaymentInfo.PaidAmount) as [Paid Amount],SUM(student.FeePaymentInfo.DueAmount) as [Due Amount] from student.FeePaymentInfo where FeeId=3 or FeeId=4
GO
/****** Object:  StoredProcedure [student].[spClassInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[spClassInfo]
as
begin
select ClassId,Class from student.ClassInfo 
end


--select * from student.ClassInfo
GO
/****** Object:  StoredProcedure [student].[spClassSubjectInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spClassSubjectInfo]
(
	@Subject1 nvarchar(50),
	@Subject2 nvarchar(50),
	@Subject3 nvarchar(5),
	@Subject4 nvarchar(50),
	@Subject5 nvarchar(50),
	@Subject6 nvarchar(50),
	@Subject7 nvarchar(50),
	@Subject8 nvarchar (50),
	@Subject9 nvarchar(50),
	@Subject10 nvarchar(50),
	@Subject11 nvarchar(50),
	@Subject12 nvarchar (50),
	@Subject13 nvarchar(50),
	@Subject14 nvarchar(50),
	@Subject15 nvarchar(50),
	@Subject16 nvarchar(50),
	@Subject17 nvarchar(50),
	@Subject18 nvarchar(50),
	@Subject19 nvarchar(50),
	@Subject20 nvarchar(50),
	@ClassCode NVARCHAR(50),
	@Class NVARCHAR(50),
	@SubjectId BIGINT,
	@Schedule NVARCHAR(100)
	--@Class NVARCHAR(50),
	--@SubjectId BIGINT,
	--@Schedule DATETIME
)
AS
BEGIN
INSERT INTO 
    student.SubjectInfo
    (	
    Subject1,
	Subject2,
	Subject3 ,
	Subject4,
	Subject5,
	Subject6,
	Subject7,
	Subject8,
	Subject9 ,
	Subject10,
	Subject11,
	Subject12,
	Subject13 ,
	Subject14 ,
	Subject15 ,
	Subject16,
	Subject17 ,
	Subject18 ,
	Subject19,
	Subject20)
	VALUES(
	@Subject1 ,
	@Subject2 ,
	@Subject3 ,
	@Subject4 ,
	@Subject5 ,
	@Subject6 ,
	@Subject7 ,
	@Subject8 ,
	@Subject9 ,
	@Subject10,
	@Subject11,
	@Subject12,
	@Subject13,
	@Subject14,
	@Subject15 ,
	@Subject16,
	@Subject17 ,
	@Subject18 ,
	@Subject19 ,
	@Subject20)
    SET @SubjectId=SCOPE_IDENTITY();
    INSERT INTO student.ClassInfo(ClassCode,Class,SubjectId,Schedule) values(@ClassCode,@Class,@SubjectId,@Schedule)
	
END



--student.spClassSubjectInfo'COMPUTER','MATHEMATICS','SCIENCE','SOCIAL','POPULATION','HEALTH','NEPALI','OPT MATHS','AGRICULTURE','ACCOUNTANCY','','','','','','','','','','','ONE90','Two','','MORNING'
GO
/****** Object:  StoredProcedure [student].[spDeleteClassSubjectById]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spDeleteClassSubjectById]
(@ClassId BIGINT)
AS
BEGIN
DELETE FROM student.ClassInfo WHERE ClassId=@ClassId
END
GO
/****** Object:  StoredProcedure [student].[spDeleteStudentByCode]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [student].[spDeleteStudentByCode]
(@StudentId int)
AS
BEGIN
DELETE FROM student.GuardiansInfo WHERE StudentId=@StudentId
DELETE FROM student.StudentInfo WHERE StudentId=@StudentId
END
----  student.spDeleteStudentByCode 3
-- select * from student.StudentInfo
GO
/****** Object:  StoredProcedure [student].[spDisplayClassSubjectById]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spDisplayClassSubjectById]
(
@ClassId bigint
)
as
begin
select * from student.ClassInfo t1 full join student.SubjectInfo t2 on t1.SubjectId=t2.SubjectId where ClassId=@ClassId
end
--student.spDisplayClassSubjectById 2
GO
/****** Object:  StoredProcedure [student].[spDisplayFeePayment]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spDisplayFeePayment]
(@StudentId bigint)
as 
begin try
begin
select StudentId,ClassId,FeeType,FeeAmount from FeePaymentInfo t1  join FeeStructureInfo t2 on t1.FeeId=t2.FeeId where t1.StudentId=@StudentId
end
end try
begin catch
select ERROR_NUMBER(),ERROR_MESSAGE(),ERROR_SEVERITY();
end catch

-- spDisplayFeePayment '28b'
GO
/****** Object:  StoredProcedure [student].[spDisplayStudentByClassId]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[spDisplayStudentByClassId]
(@ClassId int
)
as
 begin
 select StudentId,StudentName from student.StudentInfo where ClassId=@ClassId
 end
GO
/****** Object:  StoredProcedure [student].[spDisplaySubectsBySid]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [student].[spDisplaySubectsBySid]
(@SubjectId bigint)
as
begin
select * from dbo.SubjectsInfo where SubjectId=@SubjectId
end
GO
/****** Object:  StoredProcedure [student].[spDisplaySubjectById]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[spDisplaySubjectById]
(@ClassId bigint)
as
begin
 SELECT * FROM dbo.SubjectsInfo where ClassId=@ClassId
end
 --student.spDisplaySubjectById 1
GO
/****** Object:  StoredProcedure [student].[spDivisionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[spDivisionInfo]
as
begin
select * from student.DivisionInfo
end
GO
/****** Object:  StoredProcedure [student].[spFeePaymentDisplay]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [student].[spFeePaymentDisplay]
(
@FeeId int,
@StudentId int
)
as
begin
  select t2.FeeDate,t3.StudentName,t1.ClassId,t1.FeeId,t1.FeeName,t1.FeeAmount,t2.PaidAmount,t2.DueAmount from student.FeeStructureInfo t1 inner join student.FeePaymentInfo t2 on t1.FeeId=t2.FeeId inner join student.StudentInfo t3 on t2.StudentId=t3.StudentId
end
GO
/****** Object:  StoredProcedure [student].[spFeeStructure]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[spFeeStructure]
as
begin
select * from [student].[FeeStructureInfo]
end
GO
/****** Object:  StoredProcedure [student].[spFeeStructureByClassId]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spFeeStructureByClassId]
(
@ClassId int
)
as
begin
select * from student.FeeStructureInfo where ClassId=@ClassId
end

-- student.spFeeStructureByClassId 2
GO
/****** Object:  StoredProcedure [student].[spFeeStructureDisplay]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[spFeeStructureDisplay]
(@ClassId int)
as
begin
select t1.FeeId,t2.Class, t1.FeeName,t1.FeeAmount,t1.FeeDescription from student.FeeStructureInfo t1 inner join student.ClassInfo t2 on t1.ClassId=t2.ClassId where t2.ClassId=@ClassId
end


-- student.[spFeeStructureDisplay] 2
GO
/****** Object:  StoredProcedure [student].[spFeeStructureInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spFeeStructureInfo]
(
	@AcademicYearId int,
	@ClassId bigint,
	@FormFee money,
	@AdmissionFee money,
	@TutionFee money,
	@LibraryFee money,
	@ComputerFee money,
	@SportsFee  money,
	@HostelFee money,
	@LabFee money,
	@TransportationFee money,
	@CanteenFee money,
	@ExtraTutionFee money,
	@OtherFee money,
	@TotalFee money
)
AS
BEGIN
INSERT INTO student.FeeStructureInfo(
	[AcademicYearId],
	[ClassId],
	[FormFee],
	[AdmissionFee],
	[TutionFee],
	[LibraryFee],
	[ComputerFee],
	[SportsFee],
	[HostelFee],
	[LabFee],
	[TransportationFee],
	[CanteenFee],
	[ExtraTutionFee],
	[OtherFee],
	[TotalFee])
SELECT
	@AcademicYearId,
	@ClassId ,
	@FormFee,
	@AdmissionFee,
	@TutionFee ,
	@LibraryFee,
	@ComputerFee ,
	@SportsFee ,
	@HostelFee ,
	@LabFee ,
	@TransportationFee ,
	@CanteenFee ,
	@ExtraTutionFee ,
	@OtherFee ,
	@TotalFee
END
--  [student].[spFeeStructureInfo] 1,2,'700','800','900','6700','78','89','9','99','099','88','700','8','8888'
select * from student.FeeStructureInfo 
GO
/****** Object:  StoredProcedure [student].[spGetStudentByCodeClassId]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[spGetStudentByCodeClassId]
(
 @StudentCode NVARCHAR(50),
 @ClassId BIGINT
)
as
IF EXISTS (select * from student.StudentInfo where (StudentCode=@StudentCode AND ClassId= @ClassId) )
begin
select * from student.StudentInfo where (StudentCode=@StudentCode AND ClassId= @ClassId) 
--PRINT'RECORD FOUND'
end
ELSE
BEGIN
PRINT'RECORD NOT FOUND'
END

--[student].[spGetStudentByCodeClassId] 'wKpreRBm',2
GO
/****** Object:  StoredProcedure [student].[spInsertStudent]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [student].[spInsertStudent](
@StudentCode NVARCHAR(50),@StudentName NVARCHAR(50),@StudentGender NVARCHAR(50))
AS
BEGIN
INSERT INTO StudentInfo(StudentCode,StudentName,StudentGender) SELECT @StudentCode,@StudentName,@StudentGender
END
GO
/****** Object:  StoredProcedure [student].[spMontshInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [student].[spMontshInfo]
as
begin 
select * from student.MonthsInfo
end
GO
/****** Object:  StoredProcedure [student].[spResultEntry]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spResultEntry]
(
    @AcademicYearId bigint,
	@ExamId bigint,
	@ExamDate nvarchar(50),
	@ClassId  bigint,
	@Section nvarchar(50),
	@StudentId bigint,
	@SubjectId bigint,
	@FullMarks nvarchar(50),
	@PassMarks nvarchar(50),
	@TheoryFM nvarchar(50),
	@TheoryPM nvarchar(50),
	@ObtainedTheoryMarks nvarchar(50),
	@PracticalFM nvarchar(50),
	@PracticalPM nvarchar(50) ,
	@ObtainedPracticalMarks int,
	@ObtainedMarks int ,
	@Result nvarchar(50)
)

AS
BEGIN
INSERT INTO student.ResultInfo
(
AcademicYearId,
ExamId,
ExamDate,
ClassId,
Section,
SubjectId,
StudentId,
FullMarks,
PassMarks ,
TheoryFM ,
TheoryPM ,
ObtainedTheoryMarks ,
PracticalFM ,
PracticalPM ,
ObtainedPracticalMarks,
ObtainedMarks,
Result) 
SELECT 
@AcademicYearId,
@ExamId,
@ExamDate,
@ClassId,
@Section,
@SubjectId,
@StudentId,
@FullMarks,
@PassMarks ,
@TheoryFM ,
@TheoryPM ,
@ObtainedTheoryMarks ,
@PracticalFM ,
@PracticalPM ,
@ObtainedPracticalMarks,
@ObtainedMarks,
@Result
END
GO
/****** Object:  StoredProcedure [student].[spSearchStudent]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [student].[spSearchStudent]
(@StudentCode NVARCHAR(50))
AS
BEGIN
--select * from student.StudentInfo t1 inner join student.GuardiansInfo t2 on t1.StudentId=t2.StudentId full join student.DivisionInfo t3 on t1.DivisionId=t3.DivisionId full join student.ClassInfo t4 on t1.ClassId=t4.ClassId full join common.ReligionInfo t5 on t1.ReligionId=t5.ReligionId full join common.PictureInfo t7 on t1.StudentId=t7.StudentId full join student.AcademicYearInfo t8 on t8.AcademicYearId=t8.AcademicYearId where  t1.StudentCode='STU-14461' AND t8.AcademicYear='2015'
--SELECT t1.StudentCode as [ Code],t1.StudentName as [Name],t1.StudentDoB as [Date Of Birth],t1.StudentNationality as [Nationality],t1.PermanentAddress as [Permanent Adress],t1.TemporaryAddress as [Temporary Address],t1.PassedClass as [Passed Class],t2.Class as [Enroll Class] FROM StudentInfo t1 INNER JOIN ClassInfo t2 on t1.ClassId=t2.ClassId   WHERE StudentCode like @StudentCode+'%'
--select * from student.StudentInfo t1 inner join student.GuardiansInfo t2 on t1.StudentId=t2.StudentId full join student.DivisionInfo t3 on t1.DivisionId=t3.DivisionId full join student.ClassInfo t4 on t1.ClassId=t4.ClassId full join common.ReligionInfo t5 on t1.ReligionId=t5.ReligionId full join common.PictureInfo t7 on t1.StudentId=t7.StudentId full join student.AcademicYearInfo t8 on t8.AcademicYearId=t8.AcademicYearId where t1.StudentCode=@StudentCode
SELECT * FROM student.StudentInfo t1 inner join student.GuardiansInfo t2 on t1.StudentId=t2.StudentId INNER join student.DivisionInfo t3 on t1.DivisionId=t3.DivisionId INNER join student.ClassInfo t4 on t1.ClassId=t4.ClassId FULL join common.ReligionInfo t5 on t1.ReligionId=t5.ReligionId FULL join common.PictureInfo t7 on t1.StudentId=t7.StudentId INNER JOIN student.AcademicYearInfo T8 ON T8.AcademicYearId=t1.AcademicYearId  WHERE StudentCode=@StudentCode
END
-- [student].[spSearchStudent] 'STU-14461'
GO
/****** Object:  StoredProcedure [student].[spSectionInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [student].[spSectionInfo]
as 
begin 
select * from student.SectionInfo
end 

GO
/****** Object:  StoredProcedure [student].[spStudentClassSubjectInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [student].[spStudentClassSubjectInfo]
(@StudentId bigint
 )
 as
 declare @AverageMarks decimal;
 begin
 select  SUM(Marks) as [Total Obtained Marks],ROUND(AVG(Marks),2) as [Percentage(%)] from StudentClassSubjectInfo where StudentId=@StudentId

 end
 
 -- spStudentClassSubjectInfo 20
 
--select * from ResultInfo t1 where exists(select * from StudentInfo t2 where t1.StudentId=t2.StudentId AND t1.Percentage=87)
GO
/****** Object:  StoredProcedure [student].[spStudentEnroll]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [student].[spStudentEnroll]
(
-- @flag BIT OUTPUT--
 @StudentCode NVARCHAR(50),
 @AcademicYearId BIGINT,
 @ClassId BIGINT,
 @StudentName NVARCHAR(50),
 @StudentGender NVARCHAR(50),
 @StudentDoB  NVARCHAR(50),
 @ReligionId BIGINT,
 @StudentNationality NVARCHAR(50),
 --@StudentPhoto NVARCHAR(50)--
 @PermanentAddress NVARCHAR(50),
 @TemporaryAddress NVARCHAR(50),
 @PreviousSchoolName nvarchar(100),
 @PassedClass nvarchar(50),
 @Passedyear nvarchar(100),
 @DivisionId bigint,
 @StudentID bigint,
 @FatherName NVARCHAR(50),
 @FatherOccupation nvarchar(50), 
 @MotherName NVARCHAR(50),
 @MotherOccupation nvarchar(100),
 @HomeNumber NVARCHAR(50),
 @MobileNumber NVARCHAR(50),
 @PictureName nvarchar(100),
 @Picture image
 )
 AS
 BEGIN
 BEGIN TRY
 BEGIN
 INSERT INTO [student].StudentInfo(
 StudentCode,
 AcademicYearId,
 ClassId,
 StudentName,
 StudentGender,
 StudentDoB ,
 ReligionId,
 StudentNationality ,
 --StudentPhoto ,--
 PermanentAddress ,
 TemporaryAddress,
 PreviousSchoolName,
 PassedClass ,
 Passedyear,
 DivisionId,
 PictureName,
 Picture)
 VALUES(
 @StudentCode ,
 @AcademicYearId,
 @ClassId ,
 @StudentName,
 @StudentGender,
 @StudentDoB  ,
 @ReligionId ,
 @StudentNationality ,
 --@StudentPhoto ,--
 @PermanentAddress ,
 @TemporaryAddress,
 @PreviousSchoolName ,
 @PassedClass ,
 @Passedyear ,
 @DivisionId,
 @PictureName,
 @Picture )
 set @StudentID=SCOPE_IDENTITY();
 INSERT INTO [student].GuardiansInfo(
 StudentId,
 FatherName,
 FatherOccupation,
 MotherName,
 MotherOccupation,
 HomeNumber,
 MobileNumber)
 VALUES(@StudentID,@FatherName,@FatherOccupation,@MotherName,@MotherOccupation,@HomeNumber,@MobileNumber);
 --SET @flag=1;
 
 --INSERT INTO common.PictureInfo(StudentId,PictureName,Picture) VALUES(@StudentID,@PictureName,@Picture)
 END
 END TRY

BEGIN CATCH
--SET @flag=0;
SELECT ERROR_NUMBER(),'Please!!' +ERROR_MESSAGE();
END CATCH
END
--select * from StudentInfo
--select * from GuardiansInfo


--student.[spStudentEnroll]      '7558',2,'Indra Admin','male','2046',1,'nepali','dhn','ktm','bhss','two','2070',2,'','ram','Business','h','housewife','55','90','77ii',byte[344]
--if @flag=1
--print 'Successfully inserted'
--else
--print 'There is some error' 
--student.[spStudentEnroll] 'gpb',1,'Indra','male','2046',1,'Dhangadhi','Kathmandu','BVIA',1,'2000',1,1,'kB','Business','H B','Home','091666','988788','c:/ddf/sdf',01011
GO
/****** Object:  StoredProcedure [student].[spStudents]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spStudents]
AS
BEGIN
SELECT t1.StudentCode AS Code,t1.StudentName [Name],t1.StudentGender as [Gender],t1.StudentDoB as [DoB],t2.FatherName AS [Father],t2.MotherName as [Mother],t2.HomeNumber as [Phone],t2.MobileNumber as [Mobile] FROM student.StudentInfo t1 inner join student.GuardiansInfo t2 on t1.StudentId=t2.StudentId INNER JOIN student.AcademicYearInfo T3 ON t1.AcademicYearId=T3.AcademicYearId INNER JOIN student.ClassInfo T4 ON t1.ClassId=T4.ClassId 
END
GO
/****** Object:  StoredProcedure [student].[spUpdatePassword]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [student].[spUpdatePassword]
(
--@RoleId   int,
@UserName NVARCHAR(100),
@OldPassword NVARCHAR(100),
@NewPassword NVARCHAR(100)
)
AS
BEGIN
UPDATE [user].UsersInfo SET [Password]=@NewPassword WHERE /*RoleId=@RoleId AND*/ UserName=@UserName AND [Password]=@OldPassword
END

-- student.spUpdatePassword  1,'pooja','pooja','p'
--- select * from user.UsersInfo
GO
/****** Object:  StoredProcedure [student].[spUpdateStudentEnroll]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [student].[spUpdateStudentEnroll]
( 
 @StudentCode NVARCHAR(50),
 @ClassId BIGINT,
 @StudentName NVARCHAR(50),
 @StudentGender NVARCHAR(50),
 @StudentDoB  NVARCHAR(50),
 @ReligionId BIGINT,
 @StudentNationality NVARCHAR(50),
 --@StudentPhoto NVARCHAR(50),--
 @PermanentAddress NVARCHAR(50),
 @TemporaryAddress NVARCHAR(50),
 @PreviousSchoolName nvarchar(100),
 @PassedClass nvarchar(50),
 @Passedyear nvarchar(100),
 @DivisionId bigint,
 @PictureName nvarchar(100),
 @Picture image,
 
 @StudentId bigint output,
 @FatherName NVARCHAR(50),
 @FatherOccupation nvarchar(50), 
 @MotherName NVARCHAR(50),
 @MotherOccupation nvarchar(100),
 @HomeNumber NVARCHAR(50),
 @MobileNumber NVARCHAR(50))
 AS
 BEGIN
 BEGIN TRANSACTION
 
 --FOR INSERTING StudentInfo table
 UPDATE student.StudentInfo
 SET 
 ClassId=@ClassId,
 StudentName=@StudentName,
 StudentGender=@StudentGender,
 StudentDoB=@StudentDoB ,
 ReligionId=@ReligionId,
 StudentNationality=@StudentNationality ,
 --StudentPhoto=@StudentPhoto ,--
 PermanentAddress=@PermanentAddress ,
 TemporaryAddress=@TemporaryAddress,
 PreviousSchoolName=@PreviousSchoolName,
 PassedClass=@PassedClass ,
 Passedyear=@Passedyear,
 DivisionId=@DivisionId,PictureName=@PictureName,Picture=@Picture FROM student.StudentInfo T1 INNER JOIN student.GuardiansInfo T2 ON T1.StudentId=T2.StudentId WHERE  t1.StudentCode=@StudentCode AND t1.StudentId=@StudentId;
 
 -- for updating GuardiansInfo Table
 UPDATE 
 student.GuardiansInfo  SET FatherName=@FatherName,
 FatherOccupation=@FatherOccupation,
 MotherName=@MotherName,
 MotherOccupation=@MotherOccupation,
 HomeNumber=@HomeNumber,
 MobileNumber=@MobileNumber FROM student.GuardiansInfo T2  INNER JOIN student.StudentInfo T1 ON T2.StudentId=T1.StudentId AND T2.StudentId=@StudentId
 
 --for updating PictureInfo
 --UPDATE common.PictureInfo SET PictureName=@PictureName FROM common.PictureInfo T3 INNER JOIN student.StudentInfo T1 ON T3.StudentId=T1.StudentId AND T3.StudentId=@StudentId
 COMMIT
END
-- [student].[spUpdateStudentEnroll] 'wKpreRBm',1,'GP','male','3033',2,'s','sss','ktm','dhn','bhss','four','3031',1,2,'Krishnanda Bhatta','Busines Man','Harina Bhatta ','House','343','8998';

--select * from student.StudentInfo
--select * from student.GuardiansInfo

GO
/****** Object:  StoredProcedure [student].[spYearsInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [student].[spYearsInfo]
as
begin
select * from student.AcademicYearInfo
end
GO
/****** Object:  StoredProcedure [teacher].[spDisplayTeachers]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [teacher].[spDisplayTeachers]
(@TeacherCode NVARCHAR(50))
AS
BEGIN 
SELECT * FROM TeachersInfo where TeacherCode=@TeacherCode 
END
GO
/****** Object:  StoredProcedure [user].[spCreateUser]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [user].[spCreateUser]
(
@RoleId int,
@UserName NVARCHAR(100),
@Password NVARCHAR(100),
@RetypePassword NVARCHAR(100)
)
as
begin
insert into [user].[UsersInfo] (RoleId,UserName,[Password],RetypePassword) values( @RoleId,
@UserName ,@Password,@RetypePassword )
end
GO
/****** Object:  StoredProcedure [user].[spDeleUserById]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [user].[spDeleUserById]
(@UserId int)
as
begin
delete  from [user].UsersInfo where UserId=@UserId;
end
GO
/****** Object:  StoredProcedure [user].[spShowUserNamePassword]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [user].[spShowUserNamePassword]
(
--@RoleId int,
@UserName NVARCHAR(100),
@Password NVARCHAR(100)
)
AS
--IF EXISTS(SELECT * FROM [user].UsersInfo WHERE RoleId=@RoleId AND UserName=@UserName AND Password=@Password)
BEGIN
SELECT * FROM [user].UsersInfo WHERE /*RoleId=@RoleId AND*/ UserName=@UserName AND [Password]=@Password
END

--[user].spShowUserNamePassword 1,'indra',123
GO
/****** Object:  StoredProcedure [user].[spSystemUserBuId]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [user].[spSystemUserBuId]
(@UserId int)
as
begin
select * from [user].UsersInfo t1 full join staff.Roles t2 on t1.RoleId=t2.RoleId  where UserId=@UserId
end
-- [user].spSystemUserBuId 7
GO
/****** Object:  StoredProcedure [user].[spSysteUsers]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [user].[spSysteUsers]
as
begin
SELECT * FROM [user].[UsersInfo] t1 inner join staff.Roles t2 on t1.RoleId=t2.RoleId
--SELECT t1.UserId,t1.UserName,t1.[Password],t1.RetypePassword,t2.RoleName,t2.[Status] FROM [user].[UsersInfo] t1 inner join staff.Roles t2 on t1.RoleId=t2.RoleId
end
GO
/****** Object:  StoredProcedure [user].[spUpdateUser]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [user].[spUpdateUser]
(
@UserId int,
@RoleId int,
@UserName nvarchar(100),
@Password nvarchar(100),
@RetypePassword nvarchar(100)
)
as
begin
update [user].UsersInfo set RoleId=@RoleId,UserName=@UserName,[Password]=@Password,RetypePassword=@RetypePassword where UserId=@UserId
end
GO
/****** Object:  StoredProcedure [user].[spUsersInfo]    Script Date: 4/17/2026 2:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROC [user].[spUsersInfo]
(
@RoleId int,
@UserName NVARCHAR(100),
@Password NVARCHAR(100)
--@RoleId int
)
AS
IF EXISTS(SELECT * FROM [user].[UsersInfo] WHERE ( RoleId=@RoleId AND UserName=@UserName AND Password=@Password))
BEGIN
SELECT * FROM [user].[UsersInfo] WHERE (RoleId=@RoleId AND UserName=@UserName AND Password=@Password)
PRINT'RECORD FOUND'
END
ELSE
BEGIN
PRINT'RECORD NOT FOUND'
END
--SELECT * FROM [user].UsersInfo
-- [user].[spUsersInfo] 'admin','Indra',1
-- AND RoleId=@RoleId
GO
USE [master]
GO
